# Scene data (large .ply files)
scenes/*.ply
scenes/*.zip
scenes/*.tar*
# Build outputs
target/
*.cubin
*.ll
*.ltoir
*.ptx
*.sass
# Don't commit per-camera PPMs, only the canonical output_real_C.ppm and output_utsuho_plush.ppm
output_real_A.ppm
output_real_B.ppm
output_real_D.ppm
output_utsuho_plush_A.ppm
output_utsuho_plush_B.ppm
output_utsuho_plush_C.ppm
output_utsuho_plush_D.ppm
